<header>
   <nav>
      <div class="nav-wrapper container">
         <a href="/" class="brand-logo">San Andreas Department of Justice</a>
         <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSddFSwKPAhVTQI9fAiRnrIWgqNf6IkLjEkWbD9D4nviyPl3DQ/viewform?c=0&w=1&usp=send_form" target="_blank">Application</a></li>
            <li><a href="/departments/">Departments</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="/forum">Forum</a></li>
         </ul>
         <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSddFSwKPAhVTQI9fAiRnrIWgqNf6IkLjEkWbD9D4nviyPl3DQ/viewform?c=0&w=1&usp=send_form" target="_blank">Application</a></li>
            <li><a href="/departments/">Departments</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="/forum">Forum</a></li>
         </ul>
      </div>
   </nav>
</header>
